email_replying_agent.json
{
  "name": "PROJECT 4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "schedule-trigger",
      "name": "Schedule Trigger"
    },

    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "labelIds": ["UNREAD"]
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [208, 0],
      "id": "gmail-unread",
      "name": "Gmail (all mails)",
      "credentials": {
        "gmailOAuth2": "={{ $env.GMAIL_OAUTH }}"
      }
    },

    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.threadId }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [416, 0],
      "id": "gmail-details",
      "name": "Gmail (all details)",
      "credentials": {
        "gmailOAuth2": "={{ $env.GMAIL_OAUTH }}"
      }
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "=subject : {{ $json.headers.subject }}\nemail body : {{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=<AgentInstructions>\n<Role>\n<name>Email Reply Agent</name>\n<description>A helpful email reply agent</description>\n</Role>\n\n<Goal>\n<primary>Draft professional, human-like email responses.</primary>\n<secondary>Build trust and maintain a polite, friendly tone.</secondary>\n</Goal>\n\n<UserInfo>\n<details>\n<detail name=\"User Name\">REPLACE_USER_NAME</detail>\n<detail name=\"Company\">REPLACE_COMPANY_NAME</detail>\n<detail name=\"Age\">REPLACE_USER_AGE</detail>\n</details>\n</UserInfo>\n</AgentInstructions>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [624, 0],
      "id": "ai-agent",
      "name": "AI Agent"
    },

    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [496, 208],
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": "={{ $env.GEMINI_API_KEY }}"
      }
    },

    {
      "parameters": {
        "operation": "create",
        "base": "REPLACE_AIRTABLE_BASE_ID",
        "table": "REPLACE_TABLE_ID",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Body Draft Reply": "={{ $json.output }}",
            "Thread ID": "={{ $('Gmail (all details)').item.json.id }}",
            "Sender Name": "={{ $('Gmail (all details)').item.json.to.value[0].address }}",
            "From Email": "={{ $('Gmail (all details)').item.json.from.value[0].address }}",
            "Mail Body": "={{ $('Gmail (all details)').item.json.text }}"
          }
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [976, 0],
      "id": "airtable-save",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": "={{ $env.AIRTABLE_API_KEY }}"
      }
    }
  ],

  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Gmail (all mails)", "type": "main", "index": 0 }]]
    },
    "Gmail (all mails)": {
      "main": [[{ "node": "Gmail (all details)", "type": "main", "index": 0 }]]
    },
    "Gmail (all details)": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Create a record", "type": "main", "index": 0 }]]
    }
  },

  "active": false,
  "settings": {},
  "meta": {},
  "id": "REPLACE_WORKFLOW_ID"
}
